.counter-container {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
}

.count {
    color: #282c34;
    font-size: 3em;
}

.btn {
    border: 2px solid #282c34;
    background-color: transparent;
    border-radius: 5px;
    color: #282c34;
    font-weight: 700;
    margin: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.counter-name{
    color: #282c34;
    font-size: 0.5em;
    font-weight: 500;
}